<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>servletDemo</display-name>
  
  <!-- welcome-file-list做网站时使用，现在暂时没用 -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 开始配置 -->
  <!-- 1. 声明servlet的类型，并给他娶一个别名（小名） -->
  <servlet>
  	<!-- 取别名 -->
  	<servlet-name>time</servlet-name>
  	<!-- 包名.需要配置的类 -->
  	<servlet-class>web.TimeServlet</servlet-class>
  </servlet>
  <!-- 2. 通过别名引用servlet，并给他娶一个网名（访问路径） -->
  <servlet-mapping>
  	<!-- 通过小名引用这个类 -->
  	<servlet-name>time</servlet-name>
  	<!-- 网名需要以斜线开头 -->
  	<url-pattern>/ts</url-pattern>
  </servlet-mapping>
</web-app>